.App {
  text-align: center;
  background-color: #10403b;
  width: 100vw;
  height: 100vh;
}
div {
  box-sizing: border-box;
}
.todo__container {
  background-color: #8aa6a3;
  width: 100%;
  height: 70%;
  border: 1px solid #8aa6a3;
  border-radius: 12px;
  padding: 20px;
  position: relative;
  top: 10%;
  margin: auto;
}
.todo__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo__inner button {
  font-size: 50px;
  border: 0;
  background-color: #8aa6a3;
  color: #10403b;
  margin-top: 2%;
  cursor: pointer;
}
.todo__inner button:hover {
  color: #127369;
}
.todo__today,
.todo__day {
  text-align: left;
}
.todo__today {
  font-size: 23px;
  font-weight: 700;
}
.todo__day {
  font-size: 16px;
  color: #127369;
  margin-top: -15px;
}

/* TodoCreate */
.create__box {
  width: 92%;
  display: flex;
  position: absolute;
  bottom: 35px;
}
.create__input {
  background-color: #bfbfbf;
  width: 85%;
  outline: none;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #10403b;
}
.create__button {
  width: 15%;
  border: 0;
  background-color: #10403b;
  outline: none;
  color: #8aa6a3;
  font-size: 25px;
  cursor: pointer;
  box-sizing: border-box;
}
.create__button:hover {
  background-color: #bfbfbf;
  color: #10403b;
  border: 1px solid #10403b;
}

/* TodoList */
.todolist__box {
  color: #10403b;
}
.todolist__box h1 {
  border-bottom: 1px solid #10403b;
  padding-bottom: 25px;
}
.todolist__content__box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  border: 1px solid #10403b;
  padding: 0 15px;
  border-radius: 10px;
  background-color: #10403b;
}
.todolist__items {
  width: 100%;
  display: flex;
}
.todolist__checkbox {
  cursor: pointer;
}
.todolist__content {
  color: #8aa6a3;
  padding: 0 10px;
}
.todolist__delete {
  background-color: #10403b;
  border: 0;
  padding: 15px;
  color: #8aa6a3;
  font-size: 20px;
  cursor: pointer;
}
.todolist__delete:hover {
  color: #127369;
}

@media screen and (max-width: 1024px) {
  .todo__container {
    max-width: 32rem;
  }
}

@media screen and (min-width: 1024px) {
  .todo__container {
    width: 75%;
    max-width: 32rem;
  }
}