.App {
  text-align: center;
  background-color: #10403b;
  height: 100vh;
}
div {
  box-sizing: border-box;
}
.todolist__container {
  background-color: #8aa6a3;
  width: 30%;
  height: 80%;
  border: 1px solid #10403b;
  border-radius: 12px;
  padding: 20px;
  position: relative;
  top: 10%;
  margin: auto;
}
.todolist__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todolist__inner button {
  font-size: 50px;
  border: 0;
  background-color: #8aa6a3;
  color: #10403b;
  text-align: center;
  margin-top: 2%;
  cursor: pointer;
}
.todolist__inner button:hover {
  color: #127369;
}
.todolist__today,
.todolist__day {
  text-align: left;
}
.todolist__today {
  font-size: 23px;
  font-weight: 700;
}
.todolist__day {
  font-size: 16px;
  color: #127369;
  margin-top: -15px;
}
.todolist__container h1 {
  color: #10403b;
}
.todolist__box {
  position: absolute;
  bottom: 8%;
  right: 4%;
  width: 100%;
}
.todolist__box input {
  background-color: #bfbfbf;
  width: 70%;
  height: 52px;
  outline: none;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #10403b;
}
.todolist__box button {
  border: 0;
  background-color: #10403b;
  outline: none;
  color: #8aa6a3;
  font-size: 39px;
  position: absolute;
  right: 22px;
  text-align: center;
  cursor: pointer;
}
.todolist__box button:hover {
  background-color: #bfbfbf;
  color: #10403b;
  border: 1px solid #10403b;
}

/* TodoItem */
.todo__item {
  width: 100%;
  height: 50px;
  color: #0b2b28;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.todo__item p {
  padding: 0 20px 0 47px;
  text-align: left;
}